body {max-width:660px;margin:0 auto;
font-family: 'Lato';text-align:center;color:#222;}
img {display:block;margin:0 auto}
a {text-decoration:none;color: #2c3e50}
header {padding:20px 0 0 0;font-size:56px;}
nav {padding:5px;font-weight:bold;}
nav a {margin-right:20px}
article {text-align:left;padding:5px}
footer {padding:5px 0 5px 0;}

@media only screen and (min-width: 60em) { /* 960px */
  .container {
    width: 75%;
    max-width: 60rem;
  }
}
